*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --generalColor: #28ACEC;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(34, 34, 34);
  color: #FFFFFF;
  font-family:'Poppins', sans-serif;
  margin: 0 auto;
  font-size: 1.6rem;
  
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.5rem;
}


.logo {
  flex-direction: column;
  line-height: 3rem;
}

li{
  display: inline-block;
  margin: 2rem;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: var(--generalColor);
  transition: .3s all;
}

#subscribe {
  border: solid var(--generalColor);
  border-radius: 3rem;
  padding: 1.5rem;
}

#subscribe:hover {
  background-color: var(--generalColor);
  color: #FFFFFF;
}

h1{
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1200px;
  padding: 1.5rem;
}

h2 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  font-size: 4.2rem;
  line-height: 6rem;
}

.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}


h3{
  margin-top: 2rem;
  font-size: 2.8rem;
}

span {
  color: var(--generalColor);
}

p {
  margin-top: 1rem;
  line-height: 2rem;
  max-width: 50rem;
}


img {
  width: 35rem;
  margin-left: 28rem;
}


.section1 {
  display: flex;
}


.avisos {
  display: flex;
  font-size: 4.1rem;
  flex-direction: row;
  width: 70%;
}

.avisos1 {
  color: #05FF67;
}

.section2 {
  margin-block: 10rem;
}

.wrapp-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

a{
  text-decoration: none;
}

.section2 img {
  width: 50rem;
}

.wrapp-images {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  
}

.wrapp-images li{
  display: flex;
}

.wrapp-notes span {
  margin-left: 2rem;
}

.notesav {
  margin-top: 3rem;
}

.notesf{
  display: flex;
  flex-direction: column;
}
.wrapp-images a {
  text-decoration: none;
  transition: .3s all;
}

footer {
  background-color: #05FF67;
  height: 15rem;
}

.footer-finish {
  text-align: center;
  color: black;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact img {
  display: flex;
  justify-content: center;
  width: 5rem;
  margin: 0;
}

.finish {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

@media screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }
  section{
    flex-direction: column;
  }
  h2 {
    font-size: 3.8rem;
  }
  form {
    padding-top: 2rem;
    margin: 0 auto;
    width: 100%;
  }
  input {
    align-self: center;
  }
  img {
    margin-top: 6rem;
    width: 30rem;
    margin-inline: 6rem;
  }
  ul {
    text-align: center;
  }
  .wrapp-contain {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .wrapp-contain img{
    width: 30rem;
  }
  .servic {
    margin-top: 5rem;
  }
  .wrapp-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 5rem;
  }
  .wrapp-images img {
    width: 35rem;
  }
  .wrapp-images a {
    text-align: center;
  }

  .image-ed img {
    margin: 0 auto;
    width: 15rem;
    border-radius: 2rem;
  }
  .avisos {
    font-size: 2.8rem;
  }
  
}

@media screen and (max-width: 400px) {
  header {
    flex-direction: column;
  }
  section{
    flex-direction: column;
  }
  h2 {
    font-size: 3.8rem;
  }
  form {
    padding-top: 2rem;
    margin: 0 auto;
    width: 100%;
  }
  input {
    align-self: center;
  }
  img {
    margin-block: 6rem;
    width: 15rem;
  }
  ul {
    text-align: center;
  }
  .wrapp-contain {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .wrapp-contain img{
    width: 30rem;
  }
  .servic {
    margin-top: 5rem;
  }
  .wrapp-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 5rem;
  }
  .wrapp-images img {
    width: 35rem;
  }
  .wrapp-images a {
    text-align: center;
  }
  .image-ed img {
    margin: 0 auto;
    width: 15rem;
    border-radius: 2rem;
  }
  .avisos {
    font-size: 2.8rem;
  }
  .list {
    font-size: 2.8rem;
  }
  
}

