*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(34, 34, 34);
  color: #FFFFFF;
  font-family:'Poppins', sans-serif;;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 1.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-direction: column;
  line-height: 4rem;
}

li{
  display: inline-block;
  margin: 2rem;
}

a {
  color: #FFFFFF;
}

h1{
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

h2 {
  font-size: 5.6rem;
  line-height: 7rem;
}

span {
  color: #05FF67;
}

p {
  line-height: 2rem;
  max-width: 50rem;
}

img {
  width: 60rem;
  margin-left: 9rem;
}